@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

input {
  padding-left: 10px;
}
body {
  font-family: "PT sans", Arial, sans-serif;
  max-width: 1280px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-header {
  margin: 0 auto;
  padding: 0;
}

.navigation {
  display: flex;
  margin: 0 70px;
}
.navigation .header-logo {
  padding: 0;
  margin: 0;
  height: 64px;
}

.header-logo {
}

.main-header-logo {
  width: 138px;
  height: 64px;
  margin: 0;
}

.navigation-list-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 28px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 625px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-item {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
}
.navigation-item a {
  position: relative;
}

.navigation-link {
  display: block;
  text-decoration: none;
  text-align: center;
}

.navigation-item--catalog a::before,
.navigation-item--index a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  top: 46px;
  background-color: #756257;
}

.navigation-link-search {
  display: block;
  text-decoration: none;
  background-image: url(../images/VectorSearch.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 44px;
  height: 64px;
}

.navigation-link-heart {
  display: block;
  text-decoration: none;
  background-image: url(../images/favorites.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 44px;
  height: 64px;
}

.navigation-user {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: flex-start;
  list-style-type: none;
  margin: 0;
}

.navigation-item-heart {
  background-image: url(images/favorites.svg);
  background-repeat: no-repeat;
  min-width: 44px;
  min-height: 64px;
}

.botton {
  background-color: #756157;
  border-radius: 3px;
  margin: 14px 0 0 20px;
  padding: 8px 34px;
}

.navigation-link-button {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  line-height: 93%;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  padding: 0;
  margin: 0;
}

.advantange-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantange-item-1-wrapper {
  margin: 0;
  padding: 0;
  width: 230px;
  height: 181px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.advantange-item-3-wrapper {
  margin: 0;
  padding: 0;
  width: 230px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.advantange {
  width: 1200px;
  margin: 0;
  padding: 0;
}

.block-section-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 123px;
}

.block-info {
  margin: 0;
  padding: 69px 274px;
}

.block-info-search {
  margin: 0;
  padding: 96px 304px;
}

.block-info-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 215px;
}
.main-title-index {
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  line-height: 36px;
}
.main-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: black;
  text-transform: uppercase;
  margin-top: 96px;
  margin-bottom: 20px;
}

.info-index {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 54px;
  line-height: 26px;
}
.index-form-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
}

.info {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #333333;
  font-weight: 400;
  margin-bottom: 54px;
}

.subscription-input {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: #f2f2f2;
  width: 450px;
  border: none;
  margin: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.subscription-botton {
  width: 230px;
  height: 52px;
  background-color: #82b3d3;
  border: none;
  margin: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.subscription-text {
  font-weight: 700;
  font-size: 20px;
  font-weight: 36px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  display: block;
}
.subscription-form {
  display: flex;
}

.main-title-h {
  color: #000000;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px;
  display: block;
}

.suggestions {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
}

.advantange-discription-white {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-display: swap;
  padding: 0;
  margin: 0;
  color: #ffffff;
  display: block;
}

.differences {
  font-size: 22px;
  line-height: 26px;
  line-height: 91%;
  text-align: center;
  color: #333333;
  margin: 0;
  display: block;
}

.hotel-search {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 50px;
  text-transform: uppercase;
  border-radius: 3px;
}

.main-block {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-image: url("../images/index-background.jpg");
}

.advantange-icon-home {
  width: 75px;
  height: 72px;
  margin: 0;
  padding: 0;
}

.Grand-Canyon {
  display: block;
  padding: 0;
  margin: 0;
}

.advantange-icon-food {
  width: 74px;
  height: 70px;
}

.advantange-icon-souvenir {
  width: 64px;
  height: 76px;
  margin: 0;
  padding: 0;
}
.advantange-item-6 {
  background-image: url(images/food.svg);
  width: 74px;
  height: 70px;
  background-repeat: no-repeat;
}

.advantange-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
}

.advantange-title-black {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #000000;
}

.advantange-title-black:before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  top: 86px;
  left: 85px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.advantange-discription {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  color: #333333;
}

.advantange-item-4 {
  background-color: rgba(131, 179, 211, 0.12);
  padding: 80px 85px;
  margin: 0;
}

.advantange-item-4-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 230px;
  height: 223px;
}

.advantange-item-iconhome {
  background-image: url(../images/VectorHome.svg);
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
}

.advantange-item-5-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 223px;
  width: 230px;
  margin: 0;
}

.advantange-item-iconfood {
  background-image: url(../images/food.svg);
  background-repeat: no-repeat;
  width: 74px;
  height: 70px;
}

.advantange-item-iconsouvenir {
  background-image: url(../images/VectorSuvenir.svg);
  background-repeat: no-repeat;
  width: 64px;
  height: 76px;
}

.advantange-item-5 {
  padding: 80px 85px 81px;
  margin: 0;
}

.advantange-title-white {
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.advantange-title-white::before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  top: 86px;
  left: 85px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
}

.advantange-item-7 {
  background-image: url(images/VectorSuvenir.svg);
  width: 64px;
  height: 76px;
  background-repeat: no-repeat;
}

.subscription-index {
  background-image: url(../images/bgimage.jfif);
  background-size: cover;
  padding: 96px 258px 104px;
}

.subscription-index-wrapper {
  display: flex;
  flex-direction: column;
  width: 684px;
  min-height: 214px;
  margin: 0;
  padding: 0;
}

.subscription {
  margin: 0 auto;
  width: 1200px;
  min-height: 415px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.section-block {
  background-image: url(../images/mainbg.jpg);
  width: 1200px;
  height: 412px;
  margin: 0 auto;
}

.navigation-list-user {
  display: flex;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  min-width: 300px;
  justify-content: center;
}

.buttonVK {
  display: block;
  padding: 13px;
  margin: 0;
  fill: #83b3d3;
}

.buttonVK:hover {
  fill: #68a2ca;
}

.buttonVK:active {
  fill: rgba(104, 162, 202, 0.3);
}

.buttonVK:focus {
  fill: #68a2ca;
}

.buttonTEL {
  display: block;
  padding: 13px;
  margin: 0;
  fill: #83b3d3;
}

.buttonTEL:hover {
  fill: #68a2ca;
}

.buttonTEL:active {
  fill: rgba(104, 162, 202, 0.3);
}

.buttonTEL:focus {
  fill: #68a2ca;
}

.buttonYOU {
  display: block;
  padding: 13px;
  margin: 0;
  fill: #83b3d3;
}

.buttonYOU:hover {
  fill: #68a2ca;
}

.buttonYOU:active {
  fill: rgba(104, 162, 202, 0.3);
}

.buttonYOU:focus {
  fill: #68a2ca;
}

.visually-hidden {
  display: none;
}

.logo-sedona {
  margin-top: 51px;
}

.footer-social {
  width: 1060px;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.footer-list {
  display: flex;
  align-items: center;
  width: 144px;
  flex-wrap: wrap;
  list-style-type: none;
}

.main-footer {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  padding: 40px 70px 30px;
  background-color: #ffffff;
}

.number-wrapper {
  padding: 5px 194px;
  margin-top: 0;
}

.footerlogo {
  fill: black;
}

.footerlogo:hover {
  fill: #756157;
}

.footerlogo:focus {
  fill: #756157;
}

.footerlogo:active {
  fill: #756157;
  opacity: 30%;
}

.footer-image {
  margin: 0;
  padding: 8px 0 8px 41px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer-logo {
  padding: 0;
}

.advantange-item-1 {
  background-color: #82b3d3;
  margin: 0;
  width: 400px;
  height: 384px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantange-item-3 {
  background-color: rgba(131, 179, 211, 0.12);
  padding: 103px 85px 120px;
  margin: 0;
}

.number {
  font-weight: 400;
  font-size: 40px;
  color: #000000;
}

.number:hover {
  color: #756157;
}

.number:focus {
  color: #756157;
}

.number:active {
  color: rgba(117, 97, 87, 0.3);
}

.element {
  padding: 15px;
}

.main {
  width: 1200px;
  height: 64px;
}

.Vectorwhite {
  background-repeat: no-repeat;
  margin-bottom: -5px;
}

.section-block-wrapper {
  width: 1060px;
  margin: 0;
  padding: 30px 70px 70px;
  display: flex;
  flex-direction: column;
}

.section-filter-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
}

.hotels-sedona {
  font-size: 60px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 8px 0;
  line-height: 78px;
  display: block;
  text-align: left;
}

.bread-crumbs {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  min-width: 115px;
  margin-bottom: 40px;
}

.mini-home {
  background-image: url(../images/minihome.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
  display: block;
  margin: 4px 10px 4px 0;
}

.mini-line {
  background-image: url(../images/miniline.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 7px;
  height: 10px;
  display: block;
  margin-right: 10px;
}

.hotels {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin: 0;
}

.hotels:hover {
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}

.hotels:active {
  color: rgba(255, 255, 255, 0.3);
  margin: 0;
}
.catalog-filter-group {
  margin: 0;
  display: flex;
  border: none;
  padding: 0;
  text-align: left;
}

.catalog-wrapper {
  margin: 0;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-right: 70px;
}

.catalog-wrapper-2 {
  margin: 0;
  margin-right: 140px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 32px;
  padding: 0;
}

.price-category {
  display: flex;
  margin-bottom: 46px;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 16px;
  padding: 0;
}

.catalog-filter-wrapper {
  display: flex;
  flex-direction: column;
  width: 288px;
}

.apply-botton {
  width: 191px;
  height: 36px;
  margin-bottom: 32px;
  background-color: #82b3d3;
  border: none;
  border-radius: 3px;
  padding: 0;
}

.button-reset {
  width: 191px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
}

.button-reset:hover {
  opacity: 60%;
}

.button-reset:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.boottons {
  width: 191px;
  margin-bottom: 0;
  margin-top: 56px;
  padding: 0;
  margin-left: 70px;
}

.search-wrapper {
  width: 1060px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 50px 70px 60px;
}

.search-results {
  width: 1060px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 40px;
  justify-content: space-between;
}

.input-class-start {
  margin: 0;
  width: 143px;
  height: 48px;
  padding: 0;
  border: none;
  border-radius: 2px;
  margin-right: 2px;
  position: relative;
}
.input-class-end + label,
.input-class-start + label {
  position: relative;
}
.input-class-start + label::before {
  content: "от";
  position: absolute;
  color: rgba(0, 0, 0, 0.6);
  width: 20px;
  top: 12px;
  right: 10px;
  height: 5px;
}
.input-class-end + label::before {
  content: "до";
  position: absolute;
  color: rgba(0, 0, 0, 0.6);
  width: 20px;
  top: 12px;
  right: 10px;
  height: 5px;
}

.input-class-end {
  margin: 0;
  width: 143px;
  height: 48px;
  padding: 0;
  border: none;
  border-radius: 2px;
  margin-right: 2px;
}

.slider-container {
  margin: 0;
  padding: 0;
  width: 288px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 0.3) 75%
  );
}

.slider {
  width: 287px;
  height: 4px;
  margin: 0;
  position: relative;
  /* background-color: #ffffff; */
}
.slider-start-pin {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  left: 0;
  border-radius: 5px;
  background-color: #ffffff;
  z-index: 2;
  cursor: pointer;
}
.slider-finish-pin {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  right: 60px;
  border-radius: 5px;
  background-color: #ffffff;
  z-index: 2;
  cursor: pointer;
}

.slider-process {
  position: absolute;
  top: 0;
  height: 3px;
  z-index: 1;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  gap: 20px;
  justify-content: center;
  background-color: #ffffff;
}

.product-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1060px;
  height: 896px;
  margin: 0px 70px 40px 70px;
  align-items: baseline;
}

.product-card {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px;
  min-height: 438px;
}

.product-name {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  width: 300px;
}

.product-card-link {
  margin: 0;
  padding: 0;
}
.product-card-wrapper {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 16px;
}

.product-button {
  margin: 0;
  padding: 0;
  width: 300px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.button-card-rating {
  padding: 9px 22px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.product-stars-rating {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 140px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-card-image {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.product-card-title {
  margin: 0;
  text-align: left;
  font-size: 24px;
}

.apply-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}
.apply-botton:hover {
  background-color: #68a2ca;
}
.apply-botton:focus {
  background-color: #68a2ca;
}
.apply-botton:active {
  background-color: #82b3d3;
}

.apply-text:active {
  color: rgba(255, 255, 255, 0.3);
}

.Pages-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  margin: 6px 0 6px 0;
}

.option-wrapper {
  margin-left: 200px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.option-button-wrapper {
  margin: 0;
  padding: 0;
}

.overview-icons {
  margin: 0;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
}

.overview-icons:hover {
  border: 2px solid black;
}

.overview-icons:focus {
  border: 2px solid #68a2ca;
}

.overview-icons:active {
  border: 2px solid black;
}

.overview-icons:active ~ ul {
  border: 3px solid black;
}

.select-control {
  width: 292px;
  height: 49px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  border-radius: 3px;
  padding: 14px 20px;
  border: 2px solid #e5e5e5;
  outline: none;
}
.select-control:hover {
  border: 2px solid #68a2ca;
}

.select-control:focus {
  border: 2px solid #68a2ca;
}

.select-control:active {
  border: 2px solid #3f5e72;
}

.cheap {
  font-weight: 400;
  font-size: 18px;
  color: #333333;
}

.product-card-image {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

a {
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.product-card-type {
  font-weight: 400;
  font-size: 18px;
  color: #333333;
  display: block;
  padding: 0;
  margin: 0;
  width: 140px;
  text-align: left;
}

.product-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  padding: 8px 26px;
  border-radius: 4px;
  cursor: pointer;
}
.product-card-button:hover {
  background-color: #615048;
}
.product-card-button:focus {
  background-color: #615048;
}
.product-card-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-more:hover {
  background-color: #68a2ca;
}
.button-more:focus {
  background-color: #68a2ca;
}
.button-more:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82b3d3;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button-more-green {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #7db54f;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
}

.button-more-green:hover {
  background-color: #6c9e42;
}
.button-more-green:focus {
  background-color: #6c9e42;
}
.button-more-green:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.product-card-price {
  font-weight: 400;
  font-size: 18px;
  color: #333333;
  display: block;
  width: 140px;
  text-align: right;
}

.button-more-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: none;
  color: #000000;
  text-transform: uppercase;
}

.pagination {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  width: 1200px;
}

.pagination-item-color {
  background-color: #f2f2f2;
  border-radius: 3px;
  text-align: center;
}

.pagination-item {
  background-color: #82b3d3;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pagination-item:hover {
  background-color: #68a2ca;
}
.pagination-item:focus {
  background-color: #68a2ca;
}
.pagination-item:active {
  background-color: #82b3d3;
}
.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-item-points {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 60px;
  height: 60px;
}

.pagination-link-points {
  color: #000000;
  width: 60px;
  height: 60px;
  line-height: 36px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-link {
  font-weight: 700;
  font-size: 20px;
  width: 60px;
  height: 60px;
  color: #ffffff;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 36px;
  padding: 0;
}

.pagination-list {
  display: flex;
  padding: 0;
  margin: 0 auto;
  width: 1060px;
  list-style-type: none;
  background-color: #ffffff;
}

.pagination-list > li {
  margin-right: 8px;
}

.pagination-list > li:last-child {
  margin-right: 0;
}

.pagination-link-black {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  display: block;
  padding: 13px;
  line-height: 36px;
}
